
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr




### 日志文件 ###
log/

### 根目录下的相关文件（测试期间防止上传） ###
### 包括任何以lab和test开头的txt和xml文件 ###
lab*.txt
test*.txt
lab*.xml
test*.xml

### 工作区相关文件 ###
*.state